:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #066ac9;
    --bs-white: #fff;
    --bs-secondary: #9a9ea4;
    --bs-success: #0cbc87;
    --bs-info: #17a2b8;
    --bs-warning: #f7c32e;
    --bs-danger: #d6293e;
    --bs-light: #f5f7f9;
    --bs-dark: #24292d;
    --bs-orange: #fd7e14;
    --bs-purple: #6f42c1;
    --bs-blue: #1d3b53;
    --bs-primary-rgb: 6, 106, 201;
    --bs-white-rgb: 255, 255, 255;
    --bs-secondary-rgb: 154, 158, 164;
    --bs-success-rgb: 12, 188, 135;
    --bs-info-rgb: 23, 162, 184;
    --bs-warning-rgb: 247, 195, 46;
    --bs-danger-rgb: 214, 41, 62;
    --bs-light-rgb: 245, 247, 249;
    --bs-dark-rgb: 36, 41, 45;
    --bs-orange-rgb: 253, 126, 20;
    --bs-purple-rgb: 111, 66, 193;
    --bs-blue-rgb: 29, 59, 83;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 116, 117, 121;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: "Open Sans", sans-serif;
    --bs-body-font-size: 0.9375rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #747579;
    --bs-body-bg: #fff;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: rgba(0, 0, 0, 0.1);
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
    --bs-border-radius: 0.325rem;
    --bs-border-radius-sm: 0.2rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-2xl: 2rem;
    --bs-border-radius-pill: 50rem;
    --bs-link-color: #066ac9;
    --bs-link-hover-color: #0555a1;
    --bs-code-color: #d63384;
    --bs-highlight-bg: #fff3cd;
}

.personal-image {
    text-align: center;
}

.personal-image input[type="file"] {
    display: none;
}

.personal-figure {
    position: relative;
    width: 120px;
    height: 120px;
}

.personal-avatar {
    cursor: pointer;
    width: 120px;
    height: 120px;
    box-sizing: border-box;
    border-radius: 100%;
    border: 2px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    transition: all ease-in-out .3s;
}

.personal-avatar:hover {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

.personal-figcaption {
    cursor: pointer;
    position: absolute;
    top: 0px;
    width: inherit;
    height: inherit;
    border-radius: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: all ease-in-out .3s;
}

.personal-figcaption:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, .5);
}

.personal-figcaption > img {
    margin-top: 32.5px;
    width: 50px;
    height: 50px;
}

.custom-file {
    display: none;
}

#user_avatar {
    width: 20px;
    height: 20px;
}

.link-primary {
    color: #066ac9 !important;
}

.link-primary:hover, .link-primary:focus {
    color: #0555a1 !important;
}

.link-white {
    color: #fff !important;
}

.link-white:hover, .link-white:focus {
    color: white !important;
}

.link-secondary {
    color: #9a9ea4 !important;
}

.link-secondary:hover, .link-secondary:focus {
    color: #7b7e83 !important;
}

.link-success {
    color: #0cbc87 !important;
}

.link-success:hover, .link-success:focus {
    color: #0a966c !important;
}

.link-info {
    color: #17a2b8 !important;
}

.link-info:hover, .link-info:focus {
    color: #128293 !important;
}

.link-warning {
    color: #f7c32e !important;
}

.link-warning:hover, .link-warning:focus {
    color: #f9cf58 !important;
}

.link-danger {
    color: #d6293e !important;
}

.link-danger:hover, .link-danger:focus {
    color: #ab2132 !important;
}

.link-light {
    color: #f5f7f9 !important;
}

.link-light:hover, .link-light:focus {
    color: #f7f9fa !important;
}

.link-dark {
    color: #24292d !important;
}

.link-dark:hover, .link-dark:focus {
    color: #1d2124 !important;
}

.link-orange {
    color: #fd7e14 !important;
}

.link-orange:hover, .link-orange:focus {
    color: #ca6510 !important;
}

.link-purple {
    color: #6f42c1 !important;
}

.link-purple:hover, .link-purple:focus {
    color: #59359a !important;
}

.link-blue {
    color: #1d3b53 !important;
}

.link-blue:hover, .link-blue:focus {
    color: #172f42 !important;
}

