<header id="header" class="header" role="banner" aria-label="Entête du site">
    <nav class="navbar navbar-dark" id="navbar-top">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#CollapsingNavbar" aria-controls="CollapsingNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <section class="row region region-secondary-menu">
                <nav role="navigation" aria-labelledby="block-liensrapides-menu" id="block-liensrapides" class="block block-menu navigation menu--liens-rapides">
                    <h2 class="sr-only" id="block-liensrapides-menu">Liens Rapides</h2>
                    <ul class="clearfix nav">
                        <li class="nav-item">
                            <a href="" class="nav-link nav-link--fr-acheter-adhesion">Devenir membre</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="">Nous contacter</a>
                        </li>
                    </ul>
                </nav>
                <nav role="navigation" aria-labelledby="block-useraccountmenu-menu" id="block-useraccountmenu" class="block block-menu navigation menu--account">
                    <h2 class="sr-only" id="block-useraccountmenu-menu">User account menu</h2>
                    <div block="block-useraccountmenu" class="clearfix nav">
                        <a href="{{ path('app_login') }}" class="nav-link nav-link--fr-user-login" data-drupal-link-system-path="user/login">Se connecter</a>
                    </div>
                </nav>

            </section>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg" id="navbar-main">
        <div class="container">
            <section class="region region-header">
                <a href="/fr" title="Accueil" rel="home" class="navbar-brand">
                    <img src="{{ asset('assets/images/logo-new.png') }}" style="width: 250px;height: 114px;" alt="Accueil" class="img-fluid d-inline-block align-top"/>
                </a>
            </section>

            <div class="form-inline navbar-form float-right">
                <section class="row region region-header-form">
                    <div class="search-block-form block block-search block-search-form-block" id="block-nafr-search" role="search">
                        <div class="content container-inline">
                            <div class="content container-inline">
                                <form action="" method="get" id="search-block-form" accept-charset="UTF-8" class="search-form search-block-form form-row">
                                    <fieldset class="js-form-item js-form-type-search form-type-search js-form-item-keys form-item-keys form-no-label form-group">
                                        <label for="edit-keys" class="sr-only">Rechercher</label>
                                        <input title="Indiquer les termes à rechercher" type="search" id="edit-keys" name="keys" value="" size="15" maxlength="128" class="form-search form-control"/>
                                    </fieldset>
                                    <div  class="form-actions js-form-wrapper form-group" id="edit-actions">
                                        <input type="submit" id="edit-submit" value="Rechercher" class="button js-form-submit form-submit btn btn-primary form-control"/>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="collapse navbar-collapse" id="CollapsingNavbar">
                <nav role="navigation" aria-labelledby="block-nafr-main-menu-menu" id="block-nafr-main-menu"
                     class="block block-menu navigation menu--main">

                    <h2 class="sr-only" id="block-nafr-main-menu-menu">Main navigation</h2>


                    <ul class="clearfix nav navbar-nav">
                        <li class="nav-item menu-item--expanded dropdown">
                            <a href="" class="nav-link dropdown-toggle nav-link-" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">La FENAPALCI</a>
                            <ul class="dropdown-menu">

                                <li class="dropdown-item">
                                    <a href="">Qui sommes-nous ?</a>
                                </li>
                                <li class="dropdown-item menu-item--collapsed">
                                    <a href="">Le bureau</a>
                                </li>
                                <li class="dropdown-item">
                                    <a href="">Nos missions</a>
                                </li>
                                <li class="dropdown-item">
                                    <a href="">Nos activités</a>
                                </li>
                            </ul>

                        </li>
                        <li class="nav-item menu-item--expanded dropdown">
                            <a href="" class="nav-link dropdown-toggle nav-link-" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">Services aux membres</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-item">
                                    <a href="">Assurances</a>
                                </li>
                                <li class="dropdown-item">
                                    <a href="">Conseils et protection juridiques</a>
                                </li>
                                <li class="dropdown-item">
                                    <a href="">Cotisation sociales</a>
                                </li>
                            </ul>

                        </li>
                        <li class="nav-item menu-item--expanded dropdown">
                            <a href="" class="nav-link dropdown-toggle nav-link-" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">Nos ventes</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-item">
                                    <a href="">Refrigérateur</a>
                                </li>
                                <li class="dropdown-item">
                                    <a href="">Split</a>
                                </li>
                                <li class="dropdown-item">
                                    <a href="">Chaise</a>
                                </li>
                                <li class="dropdown-item">
                                    <a href="">Sono</a>
                                </li>
                                <li class="dropdown-item">
                                    <a href="">Immobilier</a>
                                </li>
                            </ul>

                        </li>
                        <li class="nav-item menu-item--expanded dropdown">
                            <a href="" class="nav-link dropdown-toggle nav-link-" data-toggle="dropdown"
                               aria-expanded="false" aria-haspopup="true">Formations</a>
                        </li>
                        <li class="nav-item menu-item--expanded dropdown">
                            <a href="" class="nav-link dropdown-toggle nav-link-" data-toggle="dropdown"
                               aria-expanded="false" aria-haspopup="true">Actualités</a>
                        </li>
                        <li class="nav-item menu-item--expanded dropdown">
                            <a href="" class="nav-link dropdown-toggle nav-link-" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">Médiathèque</a>
                        </li>
                        <li class="nav-item menu-item--expanded dropdown">
                            <a href="" class="nav-link dropdown-toggle nav-link-" data-toggle="dropdown"
                               aria-expanded="false" aria-haspopup="true">FAQ</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </nav>
</header>