{% extends 'base.html.twig' %}

{% block title %}Comment payer ?{% endblock %}

{% block body %}
    <!-- **************** MAIN CONTENT START **************** -->
    <main>
        <section class="position-relative pt-0 pt-lg-5">
            <div class="container px-1">
                <!-- Title -->
                <div class="row">
                    <!-- Title -->
                    <div class="col-md-12 text-center">
                        <h2>Payer avec application mobile wave </h2>
                    </div>
                    <!-- Content and button -->
                    <div class="col-md-12 text-center">
                        <p>L'accès à votre espace membre n'est possible qu'après validation du paiement du droit d'adhésion via l'application mobile wave </p>
                        <a href="{{ path('app_payment_summary', {'amount': '15000','pay_for': 'FRAIS_ADHESION','beneficiary_id': app.user.id,'beneficiary_type': 'MEMBER'}) }}" class="btn btn-orange">Je veux payer maintenant</a>
                    </div>
                </div>
                <!-- Steps START -->
                <div class="row g-lg-5 mt-3">
                    <!-- Item -->
                    <div class="col-md-12 col-lg-4 text-center position-relative">
                        <!-- SVG decoration -->
                        <figure class="position-absolute top-0 start-100 translate-middle d-none d-lg-block">
                            <svg width="182.9px" height="86px" viewBox="0 0 182.9 86">
                                <path class="fill-secondary" d="M127.3,19.8c0.9,0.7,1.8,1.5,2.8,2c9.3,4.5,17.1,11.1,24.4,18.3c6.5,6.4,11.9,13.7,15.8,22 c1.5,3.2,2.7,6.6,4.2,10.2c2.5-4.2,4.1-8.9,8.6-11.5c-2.2,3.9-4.7,7.7-6.5,11.9c-1.7,4.1-2.6,8.6-3.9,13.4 c-4.1-6.1-7-13.2-14.9-15.6c3.8-1.4,6.2,0.5,14.1,10.3c1-2.2,1.8-4.1,1.1-6.5c-3.8-13.6-11.4-24.8-21.4-34.6 c-5.8-5.7-12.3-10.6-19.2-14.9c-7-4.3-14.4-8-22.2-10.9c-10.7-3.8-21.5-6.6-32.8-7.7C63.9,5,50.7,5.9,38,10.4 c-14.1,5-26,13.2-35,25.4c-0.5,0.7-1.2,1.4-1.8,2.1C1.1,38,0.8,38,0.4,38.1c-0.9-0.9-0.2-1.7,0.3-2.4c4.7-6.7,10.5-12.4,17.2-17.1 C31.7,8.9,47.2,4.7,63.8,4C77.1,3.5,90,5.8,102.7,9.3c2.2,0.6,4.3,1.8,6.5,2.6c0.9,0.4,2,0.5,2.9,0.7 C117.1,15,122.2,17.4,127.3,19.8z"></path>
                            </svg>
                        </figure>

                        <div class="px-4">
                            <!-- Image -->
                            <div class="icon-xxl bg-body shadow mx-auto rounded-circle mb-3">
                                <h1 class="fw-bolder pt-4">1</h1>
                            </div>
                            <!-- Title -->
                            <h5>Afficher le QR de payment</h5>
                            <p class="text-truncate-2 pb-0">Initier le paiement en cliquant sur payer.</p>
                        </div>
                    </div>

                    <!-- Item -->
                    <div class="col-md-12 col-lg-4 text-center pt-0 pt-lg-5 position-relative">
                        <!-- SVG decoration -->
                        <figure class="position-absolute top-100 start-100 translate-middle mt-n3 d-none d-lg-block">
                            <svg width="182.9px" height="86px" viewBox="0 0 182.9 86">
                                <path class="fill-secondary" d="M127.3,70.2c0.9-0.7,1.8-1.5,2.8-2c9.3-4.5,17.1-11.1,24.4-18.3c6.5-6.4,11.9-13.7,15.8-22 c1.5-3.2,2.7-6.6,4.2-10.2c2.5,4.2,4.1,8.9,8.6,11.5c-2.2-3.9-4.7-7.7-6.5-11.9c-1.7-4.1-2.6-8.6-3.9-13.4 c-4.1,6.1-7,13.2-14.9,15.6c3.8,1.4,6.2-0.5,14.1-10.3c1,2.2,1.8,4.1,1.1,6.5c-3.8,13.6-11.4,24.8-21.4,34.6 c-5.8,5.7-12.3,10.6-19.2,14.9c-7,4.3-14.4,8-22.2,10.9c-10.7,3.8-21.5,6.6-32.8,7.7C63.9,85,50.7,84.1,38,79.6 c-14.1-5-26-13.2-35-25.4c-0.5-0.7-1.2-1.4-1.8-2.1c-0.1-0.1-0.4-0.1-0.8-0.2c-0.9,0.9-0.2,1.7,0.3,2.4c4.7,6.7,10.5,12.4,17.2,17.1 c13.7,9.7,29.2,14,45.9,14.6c13.3,0.5,26.2-1.8,38.8-5.3c2.2-0.6,4.3-1.8,6.5-2.6c0.9-0.4,2-0.5,2.9-0.7 C117.1,74.9,122.2,72.6,127.3,70.2z"></path>
                            </svg>
                        </figure>

                        <div class="px-4">
                            <!-- Image -->
                            <div class="icon-xxl bg-body shadow mx-auto rounded-circle mb-3">
                                <h1 class="fw-bolder pt-4">2</h1>
                            </div>
                            <!-- Title -->
                            <h5>Scannez votre QR sur votre application wave</h5>
                            <p class="text-truncate-2 pb-0">Scannez votre QR sur votre application wave</p>
                        </div>
                    </div>

                    <!-- Item -->
                    <div class="col-md-12 col-lg-4 text-center">
                        <div class="px-4">
                            <!-- Image -->
                            <div class="icon-xxl bg-body shadow mx-auto rounded-circle mb-3">
                                <h1 class="fw-bolder pt-4">3</h1>
                            </div>
                            <!-- Title -->
                            <h5>Valider votre paiement sur l'application wave</h5>
                            <p class="text-truncate-2 pb-0">Sur l'application mobile, il faudra valider le paiement pour valider le paiement.</p>
                        </div>
                    </div>
                </div>
                <!-- Steps END -->
            </div>
        </section>

        <section class="container">
            <div class="row pt-5">
                <div class="d-flex justify-content-sm-evenly">
                    <!-- Card item START -->
                    <div class="card px-4">
                        <div class="position-relative">
                            <img src="{{ asset('assets/images/screenshot/pay-1.png') }}" class="card-img" alt="image" style="width: 300px;">
                        </div>
                        <!-- Card body -->
                        <div class="card-body px-2">
                            <!-- Title -->
                            <h5 class="card-title"><a href="#">Etape 1</a></h5>
                            <p class="mb-0 text-truncate-2">Lancement du paiement wave </p>
                        </div>
                    </div>
                    <!-- Card item END -->

                    <!-- Card item START -->
                    <div class="card px-4">
                        <div class="position-relative">
                            <img src="{{ asset('assets/images/screenshot/pay-2.jpg') }}" class="card-img" alt="image" style="width: 160px;">
                        </div>
                        <!-- Card body -->
                        <div class="card-body px-2">
                            <!-- Title -->
                            <h5 class="card-title"><a href="#">Etape 2</a></h5>
                            <p class="mb-0 text-truncate-2">Scanner le QR Code depuis votre application mobile wave</p>
                        </div>
                    </div>
                    <!-- Card item END -->

                    <!-- Card item START -->
                    <div class="card px-4">
                        <div class="position-relative">
                            <img src="{{ asset('assets/images/screenshot/pay-3.jpg') }}" class="card-img" alt="image" style="width: 160px;">
                        </div>
                        <!-- Card body -->
                        <div class="card-body px-2">
                            <!-- Title -->
                            <h5 class="card-title"><a href="#">Etape 3</a></h5>
                            <p class="mb-0 text-truncate-2">Valider le paiement sur votre application mobile wave</p>
                        </div>
                    </div>
                    <!-- Card item END -->

                </div>
            </div>
        </section>
    </main>
    <!-- **************** MAIN CONTENT END **************** -->
{% endblock %}


{% block footer %}
{% endblock %}