{% extends 'main.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <style>
         .ts-title{
             border-bottom: 3px solid #23013a;
             display: block;
         }
         .title-text {
            position: relative;
            font-size: 14px;
            background: #23013a;
            color: #fff;
            line-height: 26px;
            padding: 0 5px;
            padding: 2px 15px;
            display: inline-block;
            z-index: 1;
            white-space: nowrap;
            margin-right: 20px;
            font-weight: 700;
        }
        .block-bg-gray{
            color: #a9a8a8;
            background-color: #f6f4f4;
            padding: 15px 20px 15px 15px;
            text-align: justify ;
        }

         .block-bg-gray{
             color: #a9a8a8;
             background-color: #f6f4f4;
             padding: 15px 20px 15px 15px;
             text-align: justify ;
         }
         .post-list-box .post-content img {
             width: 128px;
             height: 85px;
             margin-right: 15px;
             -o-object-fit: cover;
             object-fit: cover;
         }
    </style>
{% endblock %}

{% block slideshow %}
    {{ include('_partials/slideshow.html.twig') }}
{% endblock %}

{% block body %}
    <div id="main-wrapper" class="layout-main-wrapper clearfix">
        <div id="main" class="container">
            <div class="row row-offcanvas row-offcanvas-left clearfix">
                <main class="main-content col" id="content" role="main">        <!-- ======== START -->
                    <section class="py-3 py-xl-5">
                            <div class="row">
                                <!-- START -->
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <h2 class="ts-title">
                                        <span class="title-text"> Qui sommes nous ?</span>
                                    </h2>
                                    <div class="block-bg-gray">
                                        <p>
                                            La <strong>FENAPAL-CI</strong> est une fédération nationale qui regroupe des associations: d'espaces d'animation, de restaurations et de loisirs (restaurants, bars, night-club, hôtels, maquis, caves etc.). La FENAPAL CI est un réseau professionnel permettant la mise en commun de ressources dans un esprit de solidarité et d'amitié. Cela se traduit par des avantages matériel, économique, le partage d'expérience et de savoir-faire, de conseils et des solutions adaptés.
                                            <p>Créée depuis le 23 juillet 2020 par Monsieur MOBIO Arsène qui en est le Président, la Fédération des Acteurs et Professionnels des Espaces d’Animation, Restauration et Loisir de Côte d’Ivoire (FENAPAL-CI) poursuit un objectif simple : guider et servir notre communauté pour l’aider à se développer. Nous sommes une des rares fédération à permettre à nos membres de bénéficier de l’aménagement de leurs espaces à crédit. c’est-à-dire, La logistique : chaises, tables etc..., l’électroménager : télévisions, climatiseur, ventilateur, réfrigérateur, gazinière, cuisine professionnelle et bien d’autres. La FENAPAL-CI est une fédération nationale qui réunit tous les acteurs des espaces d'animations tels que les restaurants, bars, night-club, hôtels, maquis, caves. La FENAPAL CI est un réseau professionnel permettant la mise en commun de ressources dans un esprit de solidarité et d'amitié. Cela se traduit par des avantages matériel, économique, le partage d'expérience et de savoir-faire, de conseils et des solutions adaptés.</p>
                                        </p>
                                    </div>
                                </div>
                                <!-- END -->

                                <!-- START -->
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="d-flex mt-4">
                                        <a href="">
                                           <img src="{{ asset('sites/img/misc/espace_loisir_1.png') }}" alt="" />
                                        </a>
                                        <div class="ml-2">
                                            <h4 class="mt-0 mb-1">
                                                <span class="fw-bolder">Espace de loisir</span>
                                            </h4>
                                            <div class="d-block text-align-justify">
                                                <span class="small">Les espaces de loisir ou parcs de loisir sont des centres de loisirs clos ou en plein air. Ils sont à vocation récréative et/ou éducative</span>
                                                <span class="btn btn-outline-orange btn-xs">voir +</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- END -->

                                <!-- START -->
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <h2 class="ts-title">
                                        <span class="title-text">Suivez nous</span>
                                    </h2>
                                    <div class="">
                                    </div>
                                </div>
                                <!-- END -->
                            </div>
                    </section>
                    <section>
                        <div class="row">
                            <!-- START -->
                            <div class="col-md-12 col-sm-6 col-xs-12 bg-orange mt-9">
                            </div>
                            <!-- END -->
                        </div>
                    </section>
                    <section class="py-3 py-xl-5">
                        <h2 class="ts-title">
                            <span class="title-text">Nos Services</span>
                        </h2>
                        <div class="row">
                            <div class="card">

                            </div>
                        </div>
                    </section>
                    <!-- ==== END -->
                </main>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
<script type="text/javascript">
   jQuery(document).ready(function ($) {
    });
</script>
{% endblock %}