{% extends 'main.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
{% endblock %}

{% block slideshow %}
    {{ include('_partials/slideshow.html.twig') }}
{% endblock %}

{% block body %}
    <div id="main-wrapper" class="layout-main-wrapper clearfix">
        <div id="main" class="container">
            <div class="row row-offcanvas row-offcanvas-left clearfix">
                <main class="main-content col" id="content" role="main">        <!-- ======== START -->
                    <section class="py-3 py-xl-5 bg-dot">
                        <div class="container">
                            <div class="row">
                                <!-- START -->
                                <div class="col-sm-8 col-xl-8">
                                    <h5 class="mb-0" style="border-top: 2px solid #080808;padding-top: 5px;border-bottom: 1px solid #080808;">Qui sommes nous ?</h5>
                                    <div class="col-xs-12 p-3">
                                        <p>
                                            La <strong>FENAPAL-CI</strong> est une fédération nationale qui regroupe des associations: d'espaces d'animation, de restaurations et de loisirs (restaurants, bars, night-club, hôtels, maquis, caves etc.). La FENAPAL CI est un réseau professionnel permettant la mise en commun de ressources dans un esprit de solidarité et d'amitié. Cela se traduit par des avantages matériel, économique, le partage d'expérience et de savoir-faire, de conseils et des solutions adaptés.
                                        <p>Créée depuis le 23 juillet 2020 par Monsieur MOBIO Arsène qui en est le Président, la Fédération des Acteurs et Professionnels des Espaces d’Animation, Restauration et Loisir de Côte d’Ivoire (FENAPAL-CI) poursuit un objectif simple : guider et servir notre communauté pour l’aider à se développer. Nous sommes une des rares fédération à permettre à nos membres de bénéficier de l’aménagement de leurs espaces à crédit. c’est-à-dire, La logistique : chaises, tables etc..., l’électroménager : télévisions, climatiseur, ventilateur, réfrigérateur, gazinière, cuisine professionnelle et bien d’autres. La FENAPAL-CI est une fédération nationale qui réunit tous les acteurs des espaces d'animations tels que les restaurants, bars, night-club, hôtels, maquis, caves. La FENAPAL CI est un réseau professionnel permettant la mise en commun de ressources dans un esprit de solidarité et d'amitié. Cela se traduit par des avantages matériel, économique, le partage d'expérience et de savoir-faire, de conseils et des solutions adaptés.</p>
                                        </p>
                                    </div>
                                </div>
                                <!-- END -->

                                <!-- START -->
                                <div class="col-sm-4 col-xl-4">
                                    <div class="rounded-0 bg-light h-100">

                                    </div>
                                </div>
                                <!-- END -->
                            </div>
                        </div>
                    </section>
                    <!-- ==== END -->

                    <!--START -->
                    <section class="py-6 py-lg-6">
                    </section>

                    <!--START -->
                    <section>
                    </section>

                    <!--START -->
                    <section class="pb-0 pb-md-5">
                    </section>
                </main>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
<script type="text/javascript">
   jQuery(document).ready(function ($) {
    });
</script>
{% endblock %}