{% extends 'main.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
{% endblock %}

{% block page_title %}
    {{ include('_partials/page_title.html.twig', {'title': 'Conditions générales d\'adhésion a la FENAPALCI'}) }}
{% endblock %}


{% block body %}
    <div id="main-wrapper" class="layout-main-wrapper clearfix">
        <div id="main" class="container">
            <div class="row row-offcanvas row-offcanvas-left clearfix">
                <main class="main-content col" id="content" role="main">
                    <div class="row mt-5">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

                            <p style="text-align: justify;">Les présentes Conditions Générales d'Adhésion s'appliquent à
                                toutes les personnes souhaitant adhérer au CLUSTER BIO et souscrire, le cas échéant, aux
                                services proposés par le CLUSTER BIO.</p>

                            <hr>
                            <p style="text-align: justify;"><br>
                                <strong>ARTICLE 1. OBJET – OPPOSABILITÉ DES CONDITIONS GÉNÉRALES D’ADHÉSION</strong></p>

                            <p style="text-align: justify;"><u>1.1 Objet des Conditions Générales d'Adhésion</u></p>

                            <p style="text-align: justify;">Les présentes Conditions Générales d'Adhésion définissent
                                les droits et obligations des Parties dans le cadre de l'adhésion au CLUSTER BIO et de
                                la souscription aux services de ce dernier, dans le cadre de son activité telle que
                                décrite ci-dessous.</p>

                        </div>


                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

                            <p style="text-align: justify;"><strong>ARTICLE 2. RESPONSABILITÉ – GARANTIES</strong></p>

                            <p style="text-align: justify;">Le CLUSTER BIO est soumis à une obligation de moyens dans le
                                cadre des services qu’il fournit à ses Membres Adhérents.<br>
                                <br>
                                Le CLUSTER BIO n'accorde aucune garantie à l'égard des informations transmises ou
                                obtenues par le Membre Adhérent dans le cadre des Services proposés, tels que définis
                                par les Présentes. La responsabilité du CLUSTER BIO ne saurait être engagée, à quelque
                                titre que ce soit, au titre du contenu desdits Services ou des informations contenues
                                sur le Site.<br>
                                L'utilisation de toutes informations par le Membre Adhérent se fait sous sa seule
                                responsabilité et à ses risques et périls.</p>
                        </div>

                    </div>

                    <div class="row mt-3">
                        <div class="col-md-12 text-center">
                            <hr />
                            <h3><i class="fa fa-1x fa-lightbulb ql-color-yellow"></i>   NB: L'accès à votre espace membre n'est possible qu'après validation du paiement du droit d'adhésion via l'application mobile wave </h3>
                            <a href="{{ path('subscription_payment_category')}}" class="btn btn-primary btn-lg">J'accepte</a>
                        </div>

                    </div>
                </main>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
{{ parent() }}
<script type="text/javascript">
jQuery(document).ready(function ($) {
});
</script>
{% endblock %}