{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <!-- **************** MAIN CONTENT START **************** -->
    <main>
        <section class="pt-0">
            <div class="container-fluid px-0">
                <div class="bg-light h-70px h-md-70px rounded-0">
                </div>
            </div>
            <div class="container mt-4">
                <div class="row">
                    <!-- left -->
                    <div class="col-sm-12 col-lg-6 d-md-flex align-items-center justify-content-center bg-primary bg-opacity-10 vh-lg-50">
                        <div class="p-3 p-lg-3">
                            <!-- Title -->
                            <div class="text-center">
                                <h2 class="fw-bold">BIENVENUE SUR LE SITE DE VOTRE FEDERATION</h2>
                                <p class="mb-0 h6 fw-light">Construisons une solidarité solide!</p>
                            </div>
                        </div>
                    </div>

                    <!-- Right -->
                    <div class="col-sm-12 col-lg-6 m-auto">
                        <div class="row px-3 py-5">
                            <div class="col-sm-12 col-xl-12 m-auto">
                            </div>
                        </div> <!-- Row END -->
                    </div>
                </div> <!-- Row END -->
            </div>
        </section>
    </main>
    <!-- **************** MAIN CONTENT END **************** -->


{% endblock %}


{% block footer %}
{% endblock %}