<!-- ======================= Footer START -->
<footer class="pt-5 bg-skype">
    <div class="container">
        <!-- Row START -->
        <div class="row g-4">

            <!-- Widget 1 START -->
            <div class="col-lg-3">
                <!-- logo -->
                <a class="me-0" href="">
                    <img width="130" src="{{ asset('assets/images/logo-light.png') }}" alt="logo">
                </a>
                <p class="my-3">Vous êtes sur le site web de la FENAPALCI.</p>
                <!-- Social media icon -->
                <ul class="list-inline mb-0 mt-3">
                    <li class="list-inline-item"> <a class="btn btn-white btn-sm shadow px-2 text-facebook" href="#"><i class="fab fa-fw fa-facebook-f"></i></a> </li>
                    <li class="list-inline-item"> <a class="btn btn-white btn-sm shadow px-2 text-instagram" href="#"><i class="fab fa-fw fa-instagram"></i></a> </li>
                    <li class="list-inline-item"> <a class="btn btn-white btn-sm shadow px-2 text-twitter" href="#"><i class="fab fa-fw fa-twitter"></i></a> </li>
                    <li class="list-inline-item"> <a class="btn btn-white btn-sm shadow px-2 text-linkedin" href="#"><i class="fab fa-fw fa-linkedin-in"></i></a> </li>
                </ul>
            </div>
            <!-- Widget 1 END -->

            <!-- Widget 2 START -->
            <div class="col-lg-6">
                <div class="row g-4">
                    <!-- Link block -->
                    <div class="col-6 col-md-4">
                        <h5 class="mb-2 mb-md-4"></h5>
                        <ul class="nav flex-column">
                            <li class="nav-item"><a class="nav-link" href="#">A proopos de nous</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Contactez nous</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Nos activités</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Galerie media</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Le bureau</a></li>
                        </ul>
                    </div>

                    <!-- Link block -->
                    <div class="col-6 col-md-4">
                        <h5 class="mb-2 mb-md-4">Notre fédération</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item"><a class="nav-link" href="#">Nos missions</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Faq</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Situation géographique</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Sitemap</a></li>
                        </ul>
                    </div>

                    <!-- Link block -->
                    <div class="col-6 col-md-4">
                        <h5 class="mb-2 mb-md-4">Nous rejoindre</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item"><a class="nav-link" href="#">Devenir partenaire</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Devenir membre</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Termes et conditions </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Widget 2 END -->

            <!-- Widget 3 START -->
            <div class="col-lg-3">
                <h5 class="mb-2 mb-md-4">Contactez nous</h5>
                <!-- Time -->
                <p class="mb-2">
                    Mobile:<span class="h6 fw-light ms-2">+225 09345356</span>
                </p>

                <p class="mb-0">Email:<span class="h6 fw-light ms-2">info@fenapalci.org</span></p>

            </div>
            <!-- Widget 3 END -->
        </div><!-- Row END -->

        <!-- Divider -->
        <hr class="mt-4 mb-0">

        <!-- Bottom footer -->
        <div class="py-3">
            <div class="container px-0">
                <div class="d-lg-flex justify-content-between align-items-center py-3 text-center text-md-left">
                    <!-- copyright text -->
                    <div class="text-primary-hover"> Copyrights <a href="#" class="text-body">©2022 FENAPALCI</a>. Tous droits reservés. </div>
                    <!-- copyright links-->
                    <div class="justify-content-center mt-3 mt-lg-0">
                        <ul class="nav list-inline justify-content-center mb-0">
                            <li class="list-inline-item">
                                <!-- Language selector -->
                                <div class="dropup mt-0 text-center text-sm-end">
                                    <a class="dropdown-toggle nav-link" href="#" role="button" id="languageSwitcher" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fas fa-globe me-2"></i>Langue
                                    </a>
                                    <ul class="dropdown-menu min-w-auto" aria-labelledby="languageSwitcher">
                                        <li><a class="dropdown-item me-4" href="#"><img class="fa-fw me-2" src="{{ asset('assets/images/flags/uk.svg') }}" alt="">English</a></li>
                                        <li><a class="dropdown-item me-4" href="#"><img class="fa-fw me-2" src="{{ asset('assets/images/flags/sp.svg') }}" alt="">Français</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- =======================Footer END -->

<!-- Back to top -->
<div class="back-top"><i class="bi bi-arrow-up-short position-absolute top-50 start-50 translate-middle"></i></div>